body
{
    margin: 0;
    padding: 0;  
    border: 15px solid #FF7700;
}

#game-screen
{
    display: block;
}

#gameOver, #playHUD, #startMenu
{
    position: absolute;
    visibility: hidden;
}

h1,h2,h3,h4
{
 font-family: 'Permanent Marker', cursive;
 color: white;
 text-align: center;
}

.title
{
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#restartButton,#backButton,#easyButton,#mediumButton,#hardButton
{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

#easyButton, #mediumButton, #hardButton
{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    display:inline-block;
    margin: 90px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
     
}

#restartButton:hover
{
    background-color: #FF7700;
}

#backButton:hover
{
    background-color: #FF7700;
}

#easyButton:hover
{
    background-color: #FF7700;
}

#mediumButton:hover
{
    background-color: #FF7700;
}

#hardButton:hover
{
    background-color: #FF7700;
}

#scoreboard
{
    margin: 0px;
}
